<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bkademy_Webpos::main_menu" title="Bkademy" resource="Bkademy_Webpos::main_menu" module="Bkademy_Webpos" sortOrder="20"/>
        <add id="Bkademy_Webpos::webpos" title="Bkademy" resource="Bkademy_Webpos::webpos" parent="Bkademy_Webpos::main_menu" dependsOnModule="Bkademy_Webpos" module="Bkademy_Webpos" sortOrder="20"/>
        <add id="Bkademy_Webpos::index" title="Quản lý User" action="webpos/index/index" resource="Bkademy_Webpos::index" parent="Bkademy_Webpos::webpos" dependsOnModule="Bkademy_Webpos" module="Bkademy_Webpos" sortOrder="20"/>
    </menu>
</config>