<div id="webpos_checkout" class="col-sm-4 col-right">
    <header class="o-header">
        <nav class="o-header-nav">
            <button id="back_to_cart" class="c-button"><span class="icon-iconPOS-previous"></span></button>
            <button id="empty_cart" class="c-button"><span class="icon-iconPOS-emptycart"></span></button>
            <label class="title title-cart title-header-page">Checkout</label>
            <div class="more-info">
                <span class="icon-iconPOS-more"></span>
            </div>
        </nav>
    </header>

    <div class="main-item-order">
    </div>
</div>