<div class="col-sm-8 col-left"  id="product-list-wrapper">
    <header class="o-header">
        <nav class="o-header-nav">
            <div class="form-inline">
                <div class="form-group">
                    <span class="icon-iconPOS-search"></span>
                    <input type="search" class="form-control search-header" id="search-header-product"/>
                    <a id="remove-text-search-product">
                        <span class="icon-iconPOS-delete"></span>
                    </a>
                </div>
            </div>
            <div class="catalog-header">
                <span class="icon-iconPOS-categories"></span>
                <span class="title title-header-page" data-bind="i18n: 'All Categories'"></span>
                <span class="icon-iconPOS-dropdown"></span>
            </div>
        </nav>
    </header>
    <main class="main-content">
        <div id="block-product-list">
            <div class="grid-data">
                <div class="wrap-list-product scroll-grid" style="">
                </div>
            </div>
        </div>
    </main>
    <footer class="list-product-footer">

    </footer>
</div>