<!-- ko if: customerData().email -->
<header class="o-header">
    <nav class="o-header-nav">
        <h3 class="customer-name"><label class="title-header-page" data-bind="text: customerData().firstname + ' ' + customerData().lastname"></label></h3>
    </nav>
</header>
<main class="main-content">
    <form class="panel-group customer-info" id="customer-edit-form">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 data-bind="i18n: 'Customer Information'"></h5>
                <button type="submit" class="action-edit actions btn-cl-cfg-other" data-bind="click: saveInformation, visible: isEditInformation, i18n: 'Save'"></button>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="customer-fname customer-info">
                            <label for="customer_firstname" data-bind="i18n: 'First name:'"></label>
                            <div class="input-box">
                                <input data-bind="value: currentFirstName" data-validate="{'required-entry':true}" name="customer_firstname" id="customer_firstname" />
                                <em>*</em>
                            </div>
                        </div>
                        <div class="customer-lname customer-info">
                            <label for="customer_lastname" data-bind="i18n: 'Last name:'"></label>
                            <div class="input-box">
                                <input data-bind="value: currentLastName" data-validate="{'required-entry':true}" name="customer_lastname" id="customer_lastname" />
                                <em>*</em>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="customer-email customer-info">
                            <label for="customer_email" data-bind="i18n: 'Email:'"></label>
                            <div class="input-box">
                                <input data-bind="value: currentEmail" data-validate="{'required-entry':true, 'validate-email': true}" name="customer_email" id="customer_email"  />
                                <em>*</em>
                            </div>
                        </div>
                        <div class="customer-group customer-info">
                            <label for="customer_group" data-bind="i18n: 'Group:'"></label>
                            <div class="input-box" data-bind="visible: isEditInformation">
                                <select class="selectpicker" data-validate="{'required-entry':true}"
                                        data-bind="options: customerGroupArray,
                                                value: currentGroupId,
                                                optionsText: function(item) {
                                                    return item.code
                                                },
                                                optionsValue: function(item) {
                                                    return item.id
                                                },
                                                optionsCaption: 'Choose...',
                                                visible: isEditInformation
                                                "
                                        id="customer_group">
                                </select>
                                <em>*</em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 data-bind="i18n: 'Addresses'"></h5>
            </div>
            <div class="panel-body">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 data-bind="i18n: 'Sales Order History'"></h5>
            </div>
            <div class="panel-body">
                <table class="table">
                    <colgroup>
                        <col width="200">
                        <col width="">
                        <col width="">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="datetime"  >Monday 18 Jul, 2016</td>
                        <td class="order-id"  >WP11468798771839</td>
                        <td class="price"  >$131.91</td>
                    </tr>


                    <tr>
                        <td class="datetime"  >Friday 1 Jul, 2016</td>
                        <td class="order-id"  >000000046</td>
                        <td class="price"  >$83.35</td>
                    </tr>


                    <tr>
                        <td class="datetime"  >Tuesday 17 May, 2016</td>
                        <td class="order-id"  >000000004</td>
                        <td class="price"  >$80.11</td>
                    </tr>


                    <tr>
                        <td class="datetime"  >Thursday 6 Oct, 2016</td>
                        <td class="order-id"  >000000002</td>
                        <td class="price"  >$39.64</td>
                    </tr>


                    <tr>
                        <td class="datetime"  >Thursday 6 Oct, 2016</td>
                        <td class="order-id"  >000000001</td>
                        <td class="price"  >$36.39</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 data-bind="i18n: 'Refund History'"></h5>
            </div>
            <div class="panel-body">
                <table class="table">
                    <colgroup>
                        <col width="200">
                        <col width="">
                        <col width="">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="datetime">Thursday 6 Oct, 2016</td>
                        <td class="order-id">000000002</td>
                        <td class="price" >$7.64</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </form>
</main>
<!--/ko-->

<!-- ko ifnot: customerData().email -->
<div class="col-sm-12 col-left">
    <header class="o-header">
        <nav class="o-header-nav">
            <span></span>
            <label class="title" data-bind="i18n: 'Customer Detail'"></label>
            <span></span>
        </nav>
    </header>
    <main class="main-content main-content-no-order">
        <div class="pos-machine icon-info"></div>
        <div class="text-note">
            <span class="icon-iconPOS-empty-customer" id="empty-customer"></span>
            <h3 class="title-box" data-bind="i18n: 'You don\'t have any customers yet'"></h3>
        </div>
    </main>
</div>

<!-- /ko -->